<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="is_crm_main_menu"
        name="CRM"
        sequence="1"
    />



    <menuitem
        id="is_affaire_menu"
        name="Affaires"
        parent="is_crm_main_menu"
        sequence="10"
        action="is_affaire_action"
    />





    <menuitem
        id="is_activite_menu"
        name="Activités"
        parent="is_crm_main_menu"
        sequence="40"
        action="is_activite_action"
    />



    <menuitem
        id="is_suivi_temps_main_menu"
        name="Suivi temps"
        parent="is_crm_main_menu"
        sequence="50"
    />
    <menuitem
        id="is_suivi_temps_menu"
        name="Suivi du temps"
        parent="is_suivi_temps_main_menu"
        sequence="10"
        action="is_suivi_temps_action"
    />
    <menuitem
        id="is_suivi_temps_formation_menu"
        name="Suivi temps formation"
        parent="is_suivi_temps_main_menu"
        sequence="20"
        action="is_suivi_temps_formation_action"
    />
    <menuitem
        id="is_suivi_temps_back_office_menu"
        name="Suivi temps back-office"
        parent="is_suivi_temps_main_menu"
        sequence="30"
        action="is_suivi_temps_back_office_action"
    />


    <menuitem
        id="is_frais_menu"
        name="Frais"
        parent="is_crm_main_menu"
        sequence="60"
        action="is_frais_action"
    />


    <menuitem
        id="is_crm_facture_menu"
        name="Factures"
        parent="is_crm_main_menu"
        sequence="80"
    />
    <menuitem
        id="is_account_invoice_menu"
        name="Factures"
        parent="is_crm_facture_menu"
        sequence="10"
        action="is_account_invoice_action"
    />
    <menuitem
        id="is_export_compta_menu"
        name="Export Compta Cegid"
        parent="is_crm_facture_menu"
        sequence="20"
        action="is_export_compta_action"
    />
    <menuitem
        id="is_export_compta_ana_menu"
        name="Export Compta Analytique Cegid"
        parent="is_crm_facture_menu"
        sequence="30"
        action="is_export_compta_ana_action"
    />


    <!--
    <record id="is_crm_rapport_menu" model="ir.ui.menu" >
        <field name="name">Rapports</field>
        <field name="sequence">80</field>
        <field name="parent_id" eval="ref('is_crm_main_menu')"/>
    </record>
    <menuitem
        id="is_activite_suivi_temps_menu"
        name="Suivi du temps par activité"
        parent="is_crm_rapport_menu"
        sequence="10"
        action="is_activite_suivi_temps_action"
    />
    <menuitem
        id="is_suivi_production_mensuel_menu"
        name="Suivi de production mensuel"
        parent="is_crm_rapport_menu"
        sequence="20"
        action="is_suivi_production_mensuel_action"
    />
    -->



    <menuitem
        id="is_client_menu"
        name="Clients"
        parent="is_crm_main_menu"
        sequence="85"
        action="is_client_action"
    />
    <menuitem
        id="is_partenai_menu"
        name="Partenaires"
        parent="is_crm_main_menu"
        sequence="86"
        action="is_partenaire_action"
    />



    <record id="is_crm_table_menu" model="ir.ui.menu" >
        <field name="name">Tables</field>
        <field name="sequence">90</field>
        <field name="parent_id" eval="ref('is_crm_main_menu')"/>
        <field name="groups_id" eval="[(6,0,[
            ref('is_administratif_group'),
        ])]"/>
    </record>


    <menuitem
        id="is_type_societe_menu"
        name="Types de sociétés"
        parent="is_crm_table_menu"
        sequence="10"
        action="is_type_societe_action"
    />


    <menuitem
        id="is_type_intervention_menu"
        name="Types d'interventions"
        parent="is_crm_table_menu"
        sequence="20"
        action="is_type_intervention_action"
    />
    <menuitem
        id="is_secteur_menu"
        name="Secteurs"
        parent="is_crm_table_menu"
        sequence="30"
        action="is_secteur_action"
    />
    <menuitem
        id="is_type_offre_menu"
        name="Types d'offres"
        parent="is_crm_table_menu"
        sequence="40"
        action="is_type_offre_action"
    />
    <menuitem
        id="is_cause_menu"
        name="Causes"
        parent="is_crm_table_menu"
        sequence="50"
        action="is_cause_action"
    />

    <menuitem
        id="is_depense_effectuee_par_menu"
        name="Dépenses éffecuées par"
        parent="is_crm_table_menu"
        sequence="60"
        action="is_depense_effectuee_par_action"
    />


    <menuitem
        id="is_product_template_menu"
        name="Articles"
        parent="is_crm_table_menu"
        sequence="70"
        action="is_product_template_action"
    />


    <menuitem
        id="is_account_account_menu"
        name="Plan comptable"
        parent="is_crm_table_menu"
        sequence="72"
        action="is_account_account_action"
    />
    <menuitem
        id="is_account_fiscal_position_menu"
        name="Positions fiscales"
        parent="is_crm_table_menu"
        sequence="74"
        action="is_account_fiscal_position_action"
    />




</odoo>
